.row {
  flex: 100%;
  @mixin clearfix;
  @mixin atSmall {
    flex: 100%;
  }
  @mixin atMedium {
    display: flex;
  }
  @mixin atLarge {
    display: flex;
  }
}

.col-100 {
  width: 100%;
}
.col-50 {
  width: 100%;
  @mixin atSmall {
    width: 100%;
  }
  @mixin atMedium {
    width: 50%;
  }
  @mixin atLarge {
    width: 50%;
  }
}
