.recentworks {
  &__title {
    text-align: center;
  }
  p {
    text-align: center;
  }
  &__line {
    text-align: center;
  }
  ul {
    text-align: center;
    padding: 52px 0;
  }
  li {
    list-style: square;
    display: inline;
    border-right: none;
    @mixin atMedium {
      list-style: none;
      border-right: 1px solid $mainGrey;
    }
  }
  li:last-child {
    border-right: none;
  }
  a {
    padding: 0 5px;
    color: $mainGrey;
    font-size: 10px;
    text-transform: uppercase;
    @mixin atMedium {
      padding: 0 10px;
      color: $mainGrey;
      font-size: 12px;
      text-transform: uppercase;
    }
    @mixin atLarge {
      padding: 0 20px;
      color: $mainGrey;
      font-size: 14px;
      text-transform: uppercase;
    }
  }
  a:hover {
    color: $mainOrange;
  }
  &__work {
    position: relative;
    width: 100%;
    padding: 50px;
    a {
      padding: 0;
      margin: 0;
    }
    @mixin atMedium {
      padding: 0;
    }
  }
  &__detail {
    opacity: 0;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($mainOrange, 0.8);
    &__content {
      position: absolute;
      bottom: 50px;
      left: 50px;
    }
    &__line {
      width: 50px;
      height: 3px;
      background-color: $mainWhite;
    }
    &__title {
      color: $mainWhite;
    }
    &__category {
      color: $mainWhite;
    }
  }
  &__detail:hover {
    opacity: 1;
  }
}
