.slider {
  position: relative;
  /*  background-color: rgba($mainGrey, 0.3); */

  &--centered {
    text-align: center;
  }
  &__title {
    color: $mainWhite;
  }
  &__title--small {
    font-size: $fs14;
    @mixin atSmall {
      font-size: $fs16;
    }
    @mixin atMedium {
      font-size: $fs24;
    }
    @mixin atLarge {
      font-size: $fs24;
    }
  }
  &__title--large {
    font-size: 22px;
    text-transform: uppercase;
    @mixin atSmall {
      font-size: 32px;
    }
    @mixin atMedium {
      font-size: 54px;
    }
    @mixin atLarge {
      font-size: 74px;
    }
  }

  &__text {
    color: $mainWhite;
    font-size: $fs10;
    width: 295px;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    @mixin atSmall {
      font-size: $fs12;
      width: 380px;
      padding-bottom: 40px;
    }
    @mixin atMedium {
      font-size: $fs14;
      width: 430px;
    }
    @mixin atLarge {
      color: $mainWhite;
      font-size: $fs14;
      width: 578px;
      text-align: justify;
      margin-left: auto;
      margin-right: auto;
      padding-bottom: 74px;
    }
  }
  &__leftArrow,
  &__rightArrow {
    position: absolute;
    top: 10%;
    color: $mainWhite;
    font-size: 20px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    background-color: $mainGrey;
    @mixin atSmall {
      top: 15%;
    }
    @mixin atMedium {
      top: 32%;
      padding-bottom: 6px;
      padding-left: 14px;
      padding-right: 14px;
    }
    @mixin atLarge {
      top: 50%;
      transform: translateY(-50%);
      color: $mainWhite;
      font-size: 40px;
      padding-bottom: 10px;
      padding-left: 20px;
      padding-right: 20px;
      cursor: pointer;
      background-color: $mainGrey;
    }
  }
  &__leftArrow:hover,
  &__rightArrow:hover {
    background-color: $mainOrange;
  }
  &__leftArrow {
    margin-left: 10px;
  }
  &__rightArrow {
    margin-right: 10px;
    right: 0;
  }
  &__lefArrow i,
  &__rightArrow i {
    color: $mainWhite;
  }
  &__line-dot-line {
    margin-top: 0px;
    margin-bottom: 20px;
  }
}
