.who-we-are {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 0px;
  @mixin atSmall {
    margin-top: 40px;
  }
  @mixin atMedium {
    margin-top: 130px;
  }
  @mixin atLarge {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex: 1;
    margin-top: 220px;
    margin-bottom: 120px;
  }

  &__item {
    /*   background-color: rgba($testbg, 0.3); */
    width: 50%;
    margin-bottom: 20px;
    @mixin atSmall {
      margin-bottom: 30px;
    }
    @mixin atMedium {
      margin-bottom: 40px;
    }
    @mixin atLarge {
      width: 25%;
      margin-bottom: 0;
    }
  }
  &__icon-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75px;
    cursor: pointer;
  }
  &__icon-border {
    width: 75px;
    height: 75px;
    position: absolute;
    top: 0;
    border: 1px solid $secondWhite;
  }
  &__icon-border:hover {
    transform: rotate(45deg);
    border-color: $mainOrange;
  }
  &__title {
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    h3 {
      font-size: 12px;
      @mixin atSmall {
        font-size: 14px;
      }
      @mixin atMedium {
        font-size: 16px;
      }
      @mixin atLarge {
        font-size: 18px;
      }
    }
  }
  &__line {
    width: 100%;
    height: 10px;
    padding-left: 50px;
    padding-right: 50px;
    @mixin atSmall {
      padding-left: 120px;
      padding-right: 120px;
    }
    @mixin atMedium {
      padding-left: 50px;
      padding-right: 50px;
    }
    @mixin atLarge {
      width: 100%;
      height: 20px;
      padding-left: 120px;
      padding-right: 120px;
    }
    div {
      border-bottom: 2px solid $secondWhite;
    }
  }
  &__text {
    font-size: $fs10;
    padding: 0 40px;
    text-align: center;
    @mixin atSmall {
      font-size: $fs12;
    }
    @mixin atMedium {
    }
    @mixin atLarge {
      font-size: $fs12;
      padding: 0 20px;
      text-align: center;
    }
  }
}
